# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Box 20 boundary test
Tested moving a coin into box 20


### Test Result
![box_20.png](<screenshots/Box_20.png>)

Code functioned as expected succesfully moving a coin into box 20.

---

## Box 1 boundary test
Tested having a coin generate in box 1


### Test Result
![box_1.png](<screenshots/box_20.png>)

Code functioned as expected succesfully generating a coin in box 1.

---

## Move coin forward
Tested moving a coin forward


### Test Result
![forward.png](<screenshots/forward.png>)

Code functioned as expected succesfully moving a coin forward.

---

## Move coin backwards
Tested moving a coin backwards


### Test Result
![backwards.png](<screenshots/backwards.png>)

Code functioned as expected by blocking player move to move coin backwards.

---


## Invalid input (text)
Tested inputting invalid text input into box


### Test Result
![inv_txt.png](<screenshots/inv_txt.png>)

Code functioned as expected by blocking invalid input.

---

## Invalid input (number)
tested inputting invalid number input into a box


### Test Result
![inv_num.png](<screenshots/inv_num.png>)

Code functioned as expected asking user to input a valid number.

---
## Invalid move
tested inputting invalid move into box


### Test Result
![inv_move.png](<screenshots/inv_move.png>)

Code functioned as expected blocking invalid move and returning.

---
## Jumping coins
tested attempting to jump another coin


### Test Result
![jump_coin.png](<screenshots/jump_coin.png>)

Code functioned as expected blocking a coin jumping another coin.

---
